/*footer*/
.w3-button {
    margin-top: 1%;
}
.fa {
    color: #FFC30B;
    margin-left: 1%;
}
.yellow-p {
    color: #FFC30B
}
.fa:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    color: rgb(110, 190, 215); 
}
/*end of the footer*/